<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c196studentscheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".note_activities.EditNote"></activity>
        <activity android:name=".note_activities.AddNote" />
        <activity android:name=".note_activities.NoteList" />
        <activity android:name=".assessment_activities.EditAssessment" />
        <activity android:name=".assessment_activities.AssessmentDetails" />
        <activity android:name=".assessment_activities.AddAssessment" />
        <activity android:name=".assessment_activities.AssessmentList" />
        <activity android:name=".mentor_activities.EditMentor" />
        <activity android:name=".mentor_activities.AddMentor" />
        <activity android:name=".course_activities.EditCourse" />
        <activity android:name=".course_activities.CourseDetails" />
        <activity android:name=".TermDetails" />
        <activity android:name=".course_activities.AddCourse" />
        <activity android:name=".course_activities.CourseList" />
        <activity android:name=".Term_Activities.EditTerm" />
        <activity android:name=".Term_Activities.AddTerm" />
        <activity android:name=".Term_Activities.TermList" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>